@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes zoomIn {
    0% {
        transform: scale(110%);
        z-index: 20;
    }
    100% {
        transform: scale(100%);
        z-index: 1;
    }
}

body {
    background-image: url(https://cdn.knownorigin.io/cdn/images/network/1/edition/270375);
    background-size: cover;
}
main {
  margin: 0px;
}
/* Main */

h1 {
  margin-bottom: 50px;
}

#inicio {
  text-decoration: none;
  color: white;
  background-color: black;
}

.tarjeta-inicio > h1 {
  color: red;
}

/* Quiz */

form {
    margin: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tarjeta-quiz {
    /* animation: 0.2s ease-out 0s 1 slideInFromRight; */
    backdrop-filter: blur(1px);
    margin: 0px;
    padding: 40px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#preguntas-y-respuestas {
    width: 100%;
    display: flex;
    flex-direction: column;
}

h3 {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

#respuestas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-button {
    color: rgb(15, 15, 15);
    margin: 20px;
    padding: 20px 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}
.answer-button:hover {
    background-color: blue;
    cursor: pointer;
}
.answer-button:disabled {
    cursor: not-allowed;
    background-color: gray;
}

#botones-navegacion {
    width: 90%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
#back-button {
    animation: 0.2s ease-out 0s 1 slideInFromBottom;
}
.display-none {
    display: none;
}
